body{
margin-left: 23%;
margin-right: 23%;
border: 2px black dotted;
}

header{
margin: 3%;
border-bottom: 1px black solid;
}

header>h1{
text-align: center;
}

article{
margin: 3%;
}
article>h2{
text-decoration: underline;
}

p{
background-color:mistyrose;
}

code{
color:blue;
}

strong{
color:red;
}